/* css general header, main, footer*/
* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

/* Inicio css index */
/*css logo + titulo*/

.parte-superior {
	text-align: center;
}

.parte-superior img {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
}

h1 {
	text-align: center;
	color: rgba(8, 8, 8, 0.781);
	font-size: 70px;
	font-family: 'IM Fell English SC', serif;
}

/* css sector menu navegacion bootstrap*/


.navbar-nav {
	background-color: rgb(236, 234, 149);
	width: 100%;
	justify-content: center;
}

nav ul a {
	text-decoration: none;
	color: rgb(87, 86, 86);
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

nav ul a:hover {
	background-color: rgba(187, 187, 201, 0.534);
}

/* css sector central*/

.parte-central img {
	background-image: url("../imagenes/imagenindex.png");
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
}

.parte-central p {
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 25px;
	color: rgb(87, 86, 86);
	padding: 50px;
}

/*css sector inferior*/

.pie-pagina {
	display: flex;
	background-color: rgb(236, 234, 149);
	padding: 7px;
	bottom: 0;
	width: 100%;
	justify-content: center;
	gap: 50px;
	margin-top: auto;
}

.pie-pagina img {
	width: 50px;
	height: 50px;
}

.pie-pagina ul li {
	display: inline-block;

}

.pie-pagina ul li a {
	text-decoration: none;
	color: rgb(87, 86, 86);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	justify-content: center;
	margin: 10px
}

.pie-pagina ul li :hover {
	background-color: rgba(187, 187, 201, 0.534);
}

.pie-pagina p {
	font-size: small;
	padding: 5px;
	color: rgb(8, 0, 53);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Fin css index */

/*Innicio css el Bodegon */

.titulo-principal {
	display: flex;
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 30px;
	justify-content: center;
}

.elbodegon {
	display: flex;
	padding: 20px;
	gap: 20px;
}

img {
	width: 40%;
	height: auto
}


h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(150, 6, 6);
	font-size: 25px;
	padding: 15px;
}

p {
	text-align: justify;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	padding: 16px;
}


/* Fin css el Bodegon */


/*Inicio sector css Carta - card bootstrap*/

.row {
	margin: 20px;
}

.row h5 {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(53, 51, 51);
	text-align: center;
}

.row p {
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card {
	background-color: rgba(180, 162, 63, 0.521);
	border-radius: 5px;
}

/* Fin css sector Carta */


/* Inicio css Reservas */

.formulario {
	display: block;
	width: 500px;
	height: auto;
	padding: 10px;
	border-radius: 20px;
	margin: auto;
	background-color: rgb(197, 192, 192);
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}


fieldset {
	padding: 10px;
	border: 1px solid cornsilk;
	border-radius: 5px;
	margin: 8px 0;
	background-color: rgb(228, 218, 218);
}

form label {
	font-weight: bold;
	display: block;
	padding-top: 3px;
}

select {
	display: block;
	margin: 8px 0;
	border-radius: 5px;
	font-size: 16px;
}

form div {
	display: flex;
}

input {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	display: block;
	border-radius: 5px;
	border: 1px solid cornsilk;
}

input:hover {
	cursor: pointer;
	background-color: rgb(236, 234, 149);
}


textarea {
	width: 100%;
	height: auto;
	border: 1px cornsilk;
	border-radius: 5px;
	margin: 8px 0;
}


/* Fin css Reservas */

/* Inicio css Contacto */

.contacto {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 30px;
	gap: 100px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(87, 86, 86);
}


.direccion iframe {
	padding: 15px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: rgba(187, 187, 201, 0.534);
}


/* Fin css Contacto */



/* Inicio media querie tablet*/

@media (max-width: 799px)

/* Inicio media querie tablet Index*/
	{
	.parte-superior img {
		width: 100px;
		height: 100px;
	}

	.parte-superior h1 {
		font-size: 60px;
	}

	nav ul a {
		font-size: 30px;
	}

	.parte-central img {
		width: 100%;
		height: auto;
	}

	.parte-central p {
		font-size: 40px;
	}

	.pie-pagina {
		display: block;
		text-align: center;
	}

	.pie-pagina p {
		text-align: center;
		font-size: 25px;
	}

	/* Inicio media querie tablet el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	img {
		width: 100%;
		height: auto;
	}

	.titulo-principal {
		font-size: 40px;
	}

	h2 {
		font-size: 35px;
		text-align: center;
		margin-top: 20px;
	}

	p {
		margin-top: 5px;
		font-size: 30px;
	}

	/* Inicio media querie tablet Carta*/

	.row h5 {
		font-size: 30px;
	}

	.row p {
		font-size: 23px;
	}

	/* Inicio media querie tablet Reservas*/

	.formulario {
		display: block;
		width: 600px;
		font-size: 20px;
		margin-bottom: 30px;
	}

	fieldset {
		font-size: 30px;
	}

	form label {
		display: inline-block;
	}

	select {
		font-size: 30px;
	}

	form div {
		display: flex;
	}

	input {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		display: block;
		font-size: 30px;
	}

	textarea {
		font-size: 30px;
	}

	/* Inicio media querie tablet Contacto*/

	.contacto {
		display: block;
	}

	.contacto h2 {
		font-size: 40px;
		text-align: left;
	}

	.contacto h3 {
		font-size: 30px;
		text-align: left;
	}

	.direccion iframe {
		width: 150px;
		height: 150px;
	}
}

/* Fin media querie tablet*/


/* Inicio media querie mobile*/

@media (max-width: 479px)

/* Inicio media querie mobile Index*/
	{
	.parte-superior img {
		width: 100px;
		height: 100px;
	}

	.parte-superior h1 {
		font-size: 35px;
	}

	.navbar ul a {
		font-size: 15px;
	}

	.parte-central p {
		font-size: 20px;
		padding: 20px;
	}

	.pie-pagina p {
		font-size: 15px;
	}

	.pie-pagina ul li a {
		font-size: 15px;
	}

	/* Inicio media querie mobile el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	.titulo-principal {
		font-size: 27px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Carta*/

	.row h5 {
		font-size: 18px;
	}

	.row p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Reservas*/

	.formulario {
		width: 330px;
		height: auto;
		font-size: 10px;
		margin-bottom: 30px;
	}

	fieldset {
		margin: 4px 0;
		font-size: 15px;
	}

	select {
		display: inline-block;
		font-size: 15px;
	}

	form div {
		display: inline-block;
	}

	input {
		width: 100%;
		height: 20px;
		display: block;
		border-radius: 5px;
		font-size: 15px;
	}

	textarea {
		font-size: 15px;
	}

	/* Inicio media querie mobile Contacto*/

	.contacto h2 {
		font-size: 20px;
	}

	.contacto h3 {
		font-size: 15px;
	}

	.direccion iframe {
		width: 100px;
		height: 100px;
	}

	/* Fin media querie mobile*/
}