/*IMPORTS*/
@import "./global";
@import "./variables";
@import "./header";
@import "./footer";
@import "./responsive";
@import "./carrusel";

/* Inicio css Index */

.parte-central p {
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 35px;
	color: rgb(53, 51, 51);
	padding: 60px;
	margin-bottom: 70px;
}

/*Inicio css el Bodegon */

.titulo-principal {
	width: 100%;
	display: flex;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	color: $titulos-color;
	padding: 30px;
	justify-content: center;
}

.elbodegon {
	display: flex;
	padding: 20px;
	gap: 15px;
	margin-bottom: 100px;
}

.elbodegon div {
	background-color: rgba(248, 242, 120, 0.95);

	p {
		text-align: justify;
		font-family: 'Advent Pro', sans-serif;
		font-weight: bolder;
		font-size: 20px;
		padding: 13px;
		color: rgb(53, 51, 51);

	}

}

.elbodegon img {
	width: 35%;
	height: auto;
}

h2 {
	font-family: 'Special Elite', cursive;
	color: rgb(4, 4, 4);
	font-size: 25px;
	padding: 12px;
	text-align: center;
}

/* Fin css el Bodegon */

/*Inicio sector css Carta - card bootstrap*/

.row {
	margin: 20px;
}

.row h5 {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(53, 51, 51);
	text-align: center;
}

.row p {
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card {
	text-align: center;
	background-color: $nav-color;
	border: none;
}

.card-body {
	background-color: rgba(248, 242, 120, 0.95);

	h2 {
		font-size: 20px;
		font-family: 'Bangers', cursive;
		background-color: white;
	}

	p {
		color: $nav-color;
	}
}

/* Fin css sector Carta */

/* Inicio css Reservas */

.formulario {
	display: block;
	width: 600px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	background-color: $nav-color;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 40px;
}

fieldset {
	padding: 10px;
	border: 1px solid cornsilk;
	border-radius: 5px;
	margin: 8px 0;
	background-color: rgba(248, 242, 120, 0.95);

}

form label {
	font-weight: bold;
	display: block;
	padding-top: 3px;
}

select {
	display: block;
	margin: 8px 0;
	border-radius: 5px;
	font-size: 16px;
}

form div {
	display: flex;
}

input {
	width: 100%;
	height: 20px;
	padding: 12px;
	margin-top: 8px;
	display: block;
	border-radius: 5px;
	border: 1px solid cornsilk;

	&:hover {
		cursor: pointer;
		background-color: $hover-color;

	}
}

.option {color: rgb(236, 234, 149);}

.reset  {padding: 0px;}
.submit {padding: 0px;}

textarea {
	width: 100%;
	height: auto;
	border: 1px cornsilk;
	border-radius: 5px;
	margin: 6px 0;
}

/* Fin css Reservas */

/* Inicio css Contacto */

#contacto .card {
	padding: 25px;
	background: none;
	border: none;
}

#contacto h3 {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	margin-top: 15px;
	color: rgb(41, 39, 39);
	text-align: center;
}

#contacto iframe {
	border-radius: 10px;
	width: 45%;
	height: 35%;
	margin-top: 25px;
}

#contacto img {
	width: 45%;
	height: 35%;
	border-radius: 10px;
	margin-top: 25px;
}

/* Fin css Contacto */


/*animaciones*/

.scale-up-center:hover img {
	-webkit-animation: scale-up-center .5s linear;
	animation: scale-up-center .5s linear
}

.text-blur-out:hover {
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both
}


@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	10% {
		-webkit-transform: scale(.91);
		transform: scale(.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	17% {
		-webkit-transform: scale(.98);
		transform: scale(.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	33% {
		-webkit-transform: scale(.87);
		transform: scale(.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	10% {
		-webkit-transform: scale(.91);
		transform: scale(.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	17% {
		-webkit-transform: scale(.98);
		transform: scale(.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	33% {
		-webkit-transform: scale(.87);
		transform: scale(.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@-webkit-keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}


/* Inicio media querie tablet*/

@media (max-width: 799px)

/* Inicio media querie tablet Index*/
	{
	header .logo {
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}


	header .navbar h1 {
		font-size: 45px;
		margin-right: 30px;
	}

	.navbar ul li {
		padding: 4px;
	}

	.parte-central p {
		font-size: 40px;
		padding: 40px;
	}

	/* Inicio media querie tablet el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	.elbodegon img {
		width: 100%;
		height: auto;
	}

	.titulo-principal {
		font-size: 70px;
	}

	h2 {
		font-size: 37px;
		text-align: center;
		margin-top: 20px;
	}

	p {
		margin-top: 5px;
		font-size: 35px;
	}

	/* Inicio media querie tablet Carta*/

	.row h5 {
		font-size: 30px;
	}

	.row p {
		font-size: 23px;
	}

	/* Inicio media querie tablet Reservas*/

	.formulario {
		display: block;
		width: 600px;
		font-size: 20px;
		margin-bottom: 30px;
	}

	fieldset {
		font-size: 25px;
	}

	form label {
		display: inline-block;
	}

	select {
		font-size: 25px;
	}

	form div {
		display: flex;
	}

	input {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		display: block;
		font-size: 25px;
	}

	textarea {
		font-size: 25px;
	}

	/* Inicio media querie tablet Contacto*/

	.container-contacto {
		width: 100%;
		height: 100%;
	}

	#contacto .card {
		padding: 20px
	};
}

/* Fin media querie tablet*/

/* Inicio media querie mobile*/

@media (max-width: 479px)

/* Inicio media querie mobile Index*/
	{
	header .logo {
		width: 60px;
		height: 60px;
		border-radius: 100%;
	}

	header .navbar h1 {
		font-size: 27px;
	}

	.navbar ul a {
		font-size: 15px;
	}

	.carousel-inner {
		width: 100%;
		height: 250px;
	}

	.parte-central p {
		font-size: 25px;
		padding: 70px;
		margin-bottom: 80px;
	}

	/* Inicio media querie mobile el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	.elbodegon img {
		width: 100%;
		height: auto;
	}

	.titulo-principal {
		font-size: 40px;
		text-align: center;
		width: 100%;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Carta*/

	.row h5 {
		font-size: 18px;
	}

	.row p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Reservas*/

	.formulario {
		width: 330px;
		height: auto;
		font-size: 10px;
		margin-bottom: 30px;
	}

	fieldset {
		margin: 4px 0;
		font-size: 15px;
	}

	select {
		display: inline-block;
		font-size: 15px;
	}

	form div {
		display: inline-block;
	}

	input {
		width: 100%;
		height: 30px;
		display: inline-block;
		border-radius: 5px;
		font-size: 15px;
	}

	textarea {
		font-size: 15px;
	}

	/* Inicio media querie mobile Contacto*/

	#contacto .card {
		padding: 15px;
	}

	#contacto h3 {
		font-size: 18px;
	}

	/* Fin media querie mobile*/
}