/*IMPORTS*/
@import "./global";
@import "./variables";
@import "./header";
@import "./footer";
@import "./carrusel";


/*Inicio css el Bodegon */

.titulo-principal {
	width: 100%;
	display: flex;
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 30px;
	justify-content: center;
}

.elbodegon {
	display: flex;
	padding: 20px;
	gap: 20px;
}

img {
	width: 40%;
	height: auto
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(150, 6, 6);
	font-size: 25px;
	padding: 15px;
}

p {
	text-align: justify;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	padding: 16px;
}

/* Fin css el Bodegon */

/*Inicio sector css Carta - card bootstrap*/

.row {
	margin: 20px;
}

.row h5 {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(53, 51, 51);
	text-align: center;
}

.row p {
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card {
	background-color: rgba(180, 162, 63, 0.521);
	border-radius: 5px;
}

/* Fin css sector Carta */

/* Inicio css Reservas */

.formulario {
	display: block;
	width: 500px;
	height: auto;
	padding: 10px;
	border-radius: 20px;
	margin: auto;
	background-color: rgb(197, 192, 192);
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}


fieldset {
	padding: 10px;
	border: 1px solid cornsilk;
	border-radius: 5px;
	margin: 8px 0;
	background-color: rgb(228, 218, 218);
}

form label {
	font-weight: bold;
	display: block;
	padding-top: 3px;
}

select {
	display: block;
	margin: 8px 0;
	border-radius: 5px;
	font-size: 16px;
}

form div {
	display: flex;
}

input {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	display: block;
	border-radius: 5px;
	border: 1px solid cornsilk;

	&:hover {
		cursor: pointer;
		background-color: rgb(236, 234, 149);

	}
}


textarea {
	width: 100%;
	height: auto;
	border: 1px cornsilk;
	border-radius: 5px;
	margin: 8px 0;
}

/* Fin css Reservas */

/* Inicio css Contacto */

.contacto {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 30px;
	gap: 100px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(87, 86, 86);
}


.direccion iframe {
	padding: 15px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: rgba(187, 187, 201, 0.534);
}

/* Fin css Contacto */


/*animaciones*/

.scale-up-center:hover img {
	-webkit-animation: scale-up-center .5s linear;
	animation: scale-up-center .5s linear
}

.text-blur-out:hover {
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both
}


@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	10% {
		-webkit-transform: scale(.91);
		transform: scale(.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	17% {
		-webkit-transform: scale(.98);
		transform: scale(.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	33% {
		-webkit-transform: scale(.87);
		transform: scale(.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	10% {
		-webkit-transform: scale(.91);
		transform: scale(.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	17% {
		-webkit-transform: scale(.98);
		transform: scale(.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	33% {
		-webkit-transform: scale(.87);
		transform: scale(.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
}

@-webkit-keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}


/* Inicio media querie tablet*/

@media (max-width: 799px)

/* Inicio media querie tablet Index*/
	{
	nav ul a {
		font-size: 30px;
	}

	.parte-central p {
		font-size: 40px;
		padding: 30px;
	}

	.pie-pagina {
		display: block;
		text-align: center;
	}

	.pie-pagina p {
		text-align: center;
		font-size: 25px;
	}

	/* Inicio media querie tablet el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	img {
		width: 100%;
		height: auto;
	}

	.titulo-principal {
		font-size: 40px;
	}

	h2 {
		font-size: 35px;
		text-align: center;
		margin-top: 20px;
	}

	p {
		margin-top: 5px;
		font-size: 30px;
	}

	/* Inicio media querie tablet Carta*/

	.row h5 {
		font-size: 30px;
	}

	.row p {
		font-size: 23px;
	}

	/* Inicio media querie tablet Reservas*/

	.formulario {
		display: block;
		width: 600px;
		font-size: 20px;
		margin-bottom: 30px;
	}

	fieldset {
		font-size: 30px;
	}

	form label {
		display: inline-block;
	}

	select {
		font-size: 30px;
	}

	form div {
		display: flex;
	}

	input {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		display: block;
		font-size: 30px;
	}

	textarea {
		font-size: 30px;
	}

	/* Inicio media querie tablet Contacto*/

	.contacto {
		display: block;
	}

	.contacto h2 {
		font-size: 40px;
		text-align: left;
	}

	.contacto h3 {
		font-size: 30px;
		text-align: left;
	}

	.direccion iframe {
		width: 150px;
		height: 150px;
	}
}

/* Fin media querie tablet*/


/* Inicio media querie mobile*/

@media (max-width: 479px)

/* Inicio media querie mobile Index*/
	{
	.navbar h1 {
		font-size: 35px;
	}

	.navbar ul a {
		font-size: 15px;
	}

	.carousel-inner {
		width: 100%;
		height: 200px;
	}

	.parte-central p {
		font-size: 25px;
	}

	.pie-pagina p {
		font-size: 15px;
	}

	.pie-pagina ul li a {
		font-size: 15px;
	}

	/* Inicio media querie mobile el Bodegon*/

	.elbodegon {
		display: block;
		justify-content: center;
	}

	.titulo-principal {
		font-size: 27px;
		text-align: center;
		width: 100%;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Carta*/

	.row h5 {
		font-size: 18px;
	}

	.row p {
		font-size: 15px;
	}

	/* Inicio media querie mobile Reservas*/

	.formulario {
		width: 330px;
		height: auto;
		font-size: 10px;
		margin-bottom: 30px;
	}

	fieldset {
		margin: 4px 0;
		font-size: 15px;
	}

	select {
		display: inline-block;
		font-size: 15px;
	}

	form div {
		display: inline-block;
	}

	input {
		width: 100%;
		height: 20px;
		display: block;
		border-radius: 5px;
		font-size: 15px;
	}

	textarea {
		font-size: 15px;
	}

	/* Inicio media querie mobile Contacto*/

	.contacto h2 {
		font-size: 20px;
	}

	.contacto h3 {
		font-size: 15px;
	}

	.direccion iframe {
		width: 100px;
		height: 100px;
	}

	/* Fin media querie mobile*/
}